<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-4">
	<a class="navbar-brand" href="{{ '/learn' | relative_url }}">Learn</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavbarCollapse" aria-controls="subNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-md-end" id="subNavbarCollapse">
		<ul class="navbar-nav mr-auto">
			{% for item in site.data.nav_learn.pages %}
				<li><li class="nav-item"><a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
		<form class="form-inline" action="{{ '/learn/search' | relative_url }}">
			<input id="search_input" name="q" pattern=".{3,}" class="form-control mr-sm-2 ml-sm-2" type="search" placeholder="" aria-label="Search">
			<button id="search_button" class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>