<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-4">
	<a class="navbar-brand" href="{{ '/learn' | relative_url }}">Learn</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavbarCollapse" aria-controls="subNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-md-end" id="subNavbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="{{ '/learn/tutorials' | relative_url }}">Research tutorials</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ '/learn/projects' | relative_url }}">Example projects</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ '/learn/tool-criticism' | relative_url }}">Tool criticism</a></li>
		</ul>
	</div>
</nav>