// Base CSS

// $enable-shadows: true;
$enable-responsive-font-sizes: true;

// Fonts

// $font-size-base: .875rem;
// $line-height-base: 1.6;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$headings-font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$headings-font-weight: 500;

// Headings
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.65 !default;
$h3-font-size: $font-size-base * 1.35 !default;
$h4-font-size: $font-size-base * 1.1 !default;
$h5-font-size: $font-size-base * 1.05 !default;

// Colors
$cl-orange: #f46041;
// $cl-blue: #2e85d1;
$cl-blue: #006cbf;
$cl-light-blue: #f9fcff;
$cl-light-gray: #fefefe;
$cl-black: #07121e;

$theme-colors: (
  "primary": $cl-blue,
  "secondary": $cl-orange,
  "light": $cl-light-gray,
  "black": $cl-black,
);

$link-color: $cl-orange;

$list-group-active-color: #212529; /* body font color */
$list-group-active-bg: $cl-light-gray; /* light pink */
$list-group-active-border-color: rgba(0, 0, 0, 0.125); /* same as non-active */

// Carousel

$carousel-control-color: #333;

// Buttons

$btn-font-family: $headings-font-family;
$btn-border-radius: 23px;
$btn-padding-x: 18px;
$btn-padding-y: 10px;
$btn-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$enable-transitions: true;

// Navbar
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-y: 0;
$navbar-dark-color: rgba(white, 0.7);

// Caret
$caret-spacing: 0.4rem;
$caret-vertical-align: 0.125rem;
$caret-width: 0.35rem;

// Dropdown
$dropdown-padding-y: 0;

// Breakpoints
$headerSizeShift: 840px;

@import "bootstrap/scss/bootstrap.scss";

// Custom CSS

body {
  padding-top: 125px;
  overflow-y: scroll;
}

header,
footer {
  font-family: $headings-font-family;
}

img {
  max-width: 100%;
  height: auto;
}

.img-animate {
  transition: box-shadow 0.3s ease-out;
  border-radius: 50%;
  box-shadow: 0 0 0 0px map-get($theme-colors, "light");
}

.img-animate:hover {
  box-shadow: 0 0 0 5px map-get($theme-colors, "light");
}

// Card
.card-title {
  font-size: 1.4rem;
}

// Notices

#browser-recommendation {
  position: fixed;
  bottom: 15px;
  right: 15px;
  pointer-events: none;
}

// Tutorials

article.tutorial {
  line-height: 2;
}

article.tutorial h2,
article.tutorial h3,
article.tutorial h4,
article.tutorial h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  max-width: 720px;
}

article.tutorial img {
  display: block;
  border: 1px solid #000;
  margin: 2rem auto;
  max-width: 720px;
}

// Google Custom Search Engine

.gsc-control-cse {
  font-family: "Open Sans", Roboto, sans-serif !important;
}

// iFrame border

iframe {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
