{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
  <div class="container">
    <!-- Learn / FAQ -->
    <div class="d-flex flex-wrap align-items-center justify-content-center pb-5">
      <div class="col-md-4 text-center">
        <img src="{{ '/assets/img/bigicon-learn.png' | relative_url }}" width="176" class="rounded-circle mx-auto" alt="Media Suite Tools" />
      </div>
      <div class="col-md-6 pt-2 d-flex justify-content-center flex-column gap-3">
        <h2 class="mb-3">Need help?</h2>
        <p class="mb-3">In case you have questions about the Media Suite or need user support, please check our documentation first. It includes a quick start guide, FAQ, Howtos and troubleshooting tips.</p>
        <p class="mb-3">
          <a href="{{ '/documentation' | relative_url }}" class="btn btn-primary">Documentation</a>
          <a href="{{ '/documentation/faq' | relative_url }}" class="btn btn-gray ml-1">FAQ</a>
        </p>
      </div>
    </div>

    <!-- Contacts -->
    <div class="container py-5 my-5 mt-7">
      <div class="card-deck-contacts card-deck">{% for card in site.data.contacts %} {% include info_card.html title=card.title content=card.content image=card.image action=card.action href=card.href %} {% endfor %}</div>
    </div>
  </div>
</main>
{% include footer.html %}
