{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
  <div class="container">
    <!-- Data intro -->
    <div class="d-flex align-items-center justify-content-center pb-5">
      <div class="col-md-4 text-center">
        <img src="{{ '/assets/img/bigicon-data.png' | relative_url }}" width="176" class="rounded-circle mx-auto" alt="Media Suite Tools" />
      </div>
      <div class="col-md-6 pt-2 d-flex justify-content-center flex-column gap-3">
        <h2 class="mb-3">Data</h2>
        {{ content }}
        <p class="mb-3">
          <a href="https://mediasuitedata.clariah.nl/" target="_blank" class="btn btn-primary mx-2">Available collections</a>
          <a href="{{ '/tools' | relative_url }}" class="btn btn-gray">Search & analyze collections</a>
        </p>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
