{% assign items = site.help | sort: 'position' %}
{% for item in items %}
<a href="https://mediasuite.clariah.nl{{ item.url | relative_url }}">https://mediasuite.clariah.nl{{ item.url | relative_url }}</a><br>
{% endfor %}
{% assign items = site.howtos | sort: 'title' %}
{% for item in items %}
<a href="https://mediasuite.clariah.nl{{ item.url | relative_url }}">https://mediasuite.clariah.nl{{ item.url | relative_url }}</a><br>
{% endfor %}
{% assign items = site.faq | sort: 'title' %}
{% for item in items %}
<a href="https://mediasuite.clariah.nl{{ item.url | relative_url }}">https://mediasuite.clariah.nl{{ item.url | relative_url }}</a><br>
{% endfor %}
{% assign items = site.glossary | sort: 'title' %}
{% for item in items %}
<a href="https://mediasuite.clariah.nl{{ item.url | relative_url }}">https://mediasuite.clariah.nl{{ item.url | relative_url }}</a><br>
{% endfor %}
{% assign items = site.release-notes | sort: 'title' %}
{% for item in items %}
<a href="https://mediasuite.clariah.nl{{ item.url | relative_url }}">https://mediasuite.clariah.nl{{ item.url | relative_url }}</a><br>
{% endfor %}