{% include header.html %}
<main role="main" class="flex-shrink-0">
	<!-- Banner -->
	<div class="container-fluid banner">
			<div class="banner-inner d-flex justify-content-around align-items-center flex-wrap">
				<!-- Welcome -->
				<div id="welcome-home" class="ml-md-5">
					<h1>A research environment for digital humanities</h1>
					<p class="mb-1">The Media Suite is a research environment of the Dutch infrastructure for digital humanities and social sciences (CLARIAH). It facilitates scholarly research with large Dutch media collections by providing advanced search and analysis tools.</p>
					<div class="mt-4">
						<a href="/login" class="btn btn-secondary">Get started</a>
						<a href="/learn" class="btn btn-black ml-2">Learn more</a>
					</div>
				</div>

				<!-- Tool Carousel -->
				<div id="carousel-home" class="carousel slide carousel-fade d-flex flex-column mr-md-5" data-ride="carousel">

					<div class="carousel-inner">
						{% for tool in site.data.tools %}
						<div class="carousel-item{% if forloop.index == 1 %} active{% endif %}" data-interval="7000" style="background-image: url({{tool.image|relative_url}});"></div>
						{% endfor %}
					</div>

					<ol class="carousel-indicators">
						{% for tool in site.data.tools %}
						<li data-target="#carousel-home" data-slide-to="{{ forloop.index | abs | minus: 1 }}"{% if forloop.index == 1 %} class="active"{% endif %}></li>
						{% endfor %}
					</ol>
			</div>
		</div>
	</div>

	<!-- Features -->
	<div class="container py-5 my-5">
		<div class="card-deck-features card-deck">
			{% for card in site.data.features %}
				{% include info_card.html
					title=card.title
					content=card.content
					image=card.image
					action=card.action
					href=card.href
				%}
			{% endfor %}
		</div>
	</div>

	<!-- Clariah -->
	<div class="container-fluid banner-mask py-5">
		<div class="d-flex justify-content-center">
			<div class="card text-center border-0 bg-transparent py-5" style="width: 28rem;">
				<img src="{{ '/assets/img/clariah.svg' | relative_url }}" width="268" class="mx-auto mb-2 clariah-logo" alt="CLARIAH">
				<div class="card-body">
					<p class="card-text">The Media Suite is one of the CLARIAH research environments. CLARIAH is a project funded by the NWO that aims at the realisation of a common infrastructure for the humanities and social sciences.</p>
				</div>
				<div class="card-footer border-0 bg-transparent">
					<a href="https://clariah.nl/" class="card-link btn btn-black">More information</a>
				</div>
			</div>
		</div>
	</div>
</main>

<script>
	// Listen to scroll event, add sticky class to navbar
  window.addEventListener('scroll', () => {
    const header = document.getElementById('navbar');
    header.classList.toggle('sticky', window.scrollY > 0);
  });
</script>

{% include footer.html %}