{% include header.html %}
<main role="main" class="flex-shrink-0 mb-5">
	<div class="container">
		{% include nav_learn.html %}
		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
					{% for item in site.data.nav_learn.pages %}
					<a class="list-group-item list-group-item-action" href="{{ item.url | relative_url }}">{{ item.title }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-8">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>
		</div>
	</div>
</main>
{% include footer.html %}