{% include header.html %}

<main role="main" class="flex-shrink-0 my-5">
  <div class="container">
    <!-- Tools intro -->
    <div class="d-flex flex-wrap align-items-center justify-content-center pb-5">
      <div class="col-md-4 text-center">
        <img src="{{ '/assets/img/bigicon-tools.png' | relative_url }}" width="176" class="rounded-circle mx-auto" alt="Media Suite Tools" />
      </div>
      <div class="col-md-6 pt-2 d-flex justify-content-center flex-column gap-3">
        <h2 class="mb-3">Tools</h2>
        {{ content }}
        <p class="mb-3">
          <a href="{{ '/documentation/howtos' | relative_url }}" class="btn btn-primary">See how-tos</a>
        </p>
      </div>
    </div>

    <!-- Tool cards -->
    <div class="card-deck d-flex justify-content-center my-5 flex-wrap card-deck-tools">{% for tool in site.data.tools %} {% include tool_card.html tool=tool %} {% endfor %}</div>
  </div>
</main>

{% include footer.html %}
