name: Release tag with _site.tar.gz artefact
on:
  workflow_call:
    inputs:
      tag:
        description: Github Tag to create
        required: true
        type: string

jobs:
  bundle:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: ruby/setup-ruby@v1 # https://github.com/ruby/setup-ruby?tab=readme-ov-file#versioning
        with:
          ruby-version: "3.3" # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: gem install jekyll bundler
      - run: bundle exec jekyll build
      - run: tar -cvvzf _site.tar.gz ./_site
      - name: Create release
        run: gh release create ${{ inputs.tag }} _site.tar.gz
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
